<div fxLayout="column">
  <mat-nav-list>
    <a mat-list-item routerLink="/admin/objects" routerLinkActive="active">Objekte</a>
    <a mat-list-item routerLink="/admin/states" routerLinkActive="active">Zustände</a>
    <a mat-list-item routerLink="/statistic" routerLinkActive="active">Historie</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/scripts" routerLinkActive="active">Script</a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/admin/media" routerLinkActive="active">Media</a>
    <a mat-list-item routerLink="/admin/users" routerLinkActive="active">Benutzer</a>
    <a mat-list-item routerLink="/settings" routerLinkActive="active">Einstellungen</a>
    <a mat-list-item routerLink="/widgets" routerLinkActive="active">Widgets</a>
    <!--<a mat-list-item routerLink="/visor" [queryParams]="{edit:''}" routerLinkActive="active">Visor</a>-->

  </mat-nav-list>
</div>
