<form [formGroup]="searchForm" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start stretch">
  <mat-form-field [style.fontSize.px]="20">
    <mat-label>MIME Typ</mat-label>
    <input matInput formControlName="mimeType" />
    <span matPrefix *ngIf="partialMime">{{mimeType}}/</span>
    <mat-hint>* dient als Wildcard</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Dateiname</mat-label>
    <input matInput formControlName="fileName" />
  </mat-form-field>
  <us-tag-input [availableTags]="allTags|async" formControlName="tags" placeholder="Tags bitte"></us-tag-input>
</form>

<cdk-virtual-scroll-viewport fxFlex [itemSize]="310">
  <div class="gallery" fxLayout="column" fxLayoutGap="10px">
    <div class="row" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" *cdkVirtualFor="let row of medias">
      <div class="cell" *ngFor="let item of row" (click)="select.emit(item)">

        <ha4us-media size="300" [media]="item.urn"></ha4us-media>
        <div class="footer">
          <div>{{item.filename}}</div>
          <div class="mat-caption">{{item.contentType}}</div>
        </div>
      </div>

    </div>
  </div>
</cdk-virtual-scroll-viewport>
