<!--<ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>-->


<!--<img [src]="'sonosdev/HTisch/cover' | ha4usState | get:'val' | sanitize" />-->
<!--<ha4us-media size="480" avatar media="urn:ha4us:media:48413455535f323833343235"></ha4us-media>
<ha4us-media size="60" backgroundColor="gray" color="white" avatar media="asdasd"></ha4us-media>
<ha4us-media color="red" ha4usPick="image/png" alt="Ulf Steinberg" altImg="/assets/images/Sonos_Default_AlbumArt.png"
  [(ngModel)]="test"></ha4us-media>
{{test}}-->


<!--
<ha4us-object [object]="'hue' | ha4usObject "> </ha4us-object>
<ha4us-object [object]="'hue/Color light 1' | ha4usObject "></ha4us-object>
<ha4us-object (edit)="alert($event)" [object]="'hue/Color light 1/on' | ha4usObject "></ha4us-object>
<ha4us-object [object]="'notexisting' | ha4usObject "></ha4us-object>
-->

NO TEST
