:host {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  // overflow: hidden;
  position: relative;
  overflow-x: hidden;

}

.content {
  overflow: hidden;

}
