<ha4us-toolbar shadow="false">
  <span title>Dashboard</span>
  <button mat-icon-button routerLink="/settings/dashboard">
    <mat-icon>settings</mat-icon>
  </button>
</ha4us-toolbar>

<mat-tab-group fxFlex backgroundColor="primary" color="accent" class="content widget-list"
  (selectedTabChange)="tabchanged($event)" [selectedIndex]="activeTag">
  <mat-tab *ngFor="let taggedObject of (taggedObjects$ | async)" [label]="taggedObject.tag">
    <ng-template matTabContent>
      <us-card-grid [style.padding.px]="10">
        <us-card *ngFor="let object of (taggedObject.object$ | async)">
          <ha4us-widget [widget]="object.role" [props]="object" library="dashboard"></ha4us-widget>
        </us-card>
      </us-card-grid>
    </ng-template>
  </mat-tab>
</mat-tab-group>
