<p>
  query-statistic works!
</p>

<form [formGroup]="queryForm">
  <ha4us-topic-input formControlName="topic"></ha4us-topic-input>
  <mat-form-field>
    <input matInput [matDatepicker]="pickerTo" placeholder="Bis" formControlName="to">
    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
    <mat-datepicker #pickerTo></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Zeitraum" formControlName="duration">
      <mat-option value="P1Y">1 Jahr</mat-option>
      <mat-option value="P1W">1 Woche</mat-option>
      <mat-option value="P3M">3 Monate</mat-option>
      <mat-option value="P1M">1 Monat</mat-option>
      <mat-option>Unbestimmt</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Aggregation" formControlName="aggregateBy">
      <mat-option value="none">Keine</mat-option>
      <mat-option value="hour">Stunden</mat-option>
      <mat-option value="day">Tage</mat-option>
      <mat-option value="week">Woche</mat-option>
      <mat-option value="month">Monate</mat-option>
      <mat-option value="year">Jahre</mat-option>
    </mat-select>
  </mat-form-field>
</form>
