:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

span.big {
  font-size: 250px;
}

p.logo {
  color: steelblue;
  line-height: 0px;
}

div.color {
  color: steelblue;

  p {
    text-align: center;
  }
}
