<mat-toolbar color="primary" [ngClass]="{'mat-elevation-z8':_shadow}">

  <mat-toolbar-row fxLayout="row">
    <button *ngIf="!_back; else backButton" [style.visibility]="(showMenu$ | async)?'hidden':'visible'" mat-icon-button
      (click)="showMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <ng-template #backButton>
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </ng-template>
    <span class="mat-headline no-margin">
      <ng-content select="[title]"></ng-content>
    </span>
    <span fxFlex></span>
    <ng-content select="[action]"></ng-content>
    <ng-content select="button"></ng-content>
  </mat-toolbar-row>
</mat-toolbar>
