:host {
  position: relative
}

button[mat-fab] {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.grid {

  background-color: lightgray;

  .gridster-column {
    border-left: 1px darkgray dashed;
    border-right: 1px darkgray dashed;
  }

  .gridster-row {
    border-top: 1px darkgray dashed;
    border-bottom: 1px darkgray dashed;
  }


}

.actions {
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}
