<div fxLayout="column" *ngIf="topic+'/+'|ha4usObject|groupBy:'role' as dps">
  <div fxLayout="row" fxLayoutAlign="start center">
    <ha4us-switch fxFlex="20" [topic]="dps|get:'Toggle/PowerState.topic'"></ha4us-switch>

    <mat-icon>brightness_low</mat-icon>
    <ha4us-slider fxFlex="80" *ngIf="dps|get:'Range/Brightness' as briObj" [topic]="briObj.topic" [min]="briObj.min"
      [max]="briObj.max"></ha4us-slider>
    <mat-icon>brightness_high</mat-icon>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <ha4us-color fxFlex="20" *ngIf="dps|get:'Input/Color/Rgb' as colorObj" [topic]="colorObj.topic"></ha4us-color>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="80"
      *ngIf="dps|get:'Range/Color/Temperature' as temperature">
      <mat-icon>ac_unit</mat-icon>
      <ha4us-slider fxFlex [topic]="temperature.topic" [min]="temperature.min" [max]="temperature.max"></ha4us-slider>
      <mat-icon>wb_sunny</mat-icon>
    </div>

  </div>
</div>
