<form class="mat-typography" fxFlex [formGroup]="form" (ngSubmit)="save($event)" fxLayout="column"
  *ngIf="(script$ | async) as script">
  <mat-toolbar>
    <button mat-icon-button type="button" (click)="goToList()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <h1>{{script.name}}</h1>
    <span fxFlex></span>
    <mat-slide-toggle formControlName="autostart">Autostart</mat-slide-toggle>
  </mat-toolbar>
  <div fxFlex fxLayout="column">

    <ngx-monaco-editor class="editor" fxFlex="80" [style.fontsize.px]="24" [options]="editorOptions"
      formControlName="source" (onInit)="setEditor($event)"></ngx-monaco-editor>

    <ha4us-log [topic]="script.name+'/log'"></ha4us-log>

  </div>
  <div fxLayout="row" fxLayoutAlign="end">
    <button type="submit" mat-button>Speichern</button>
  </div>
</form>
