<form fxFlex [formGroup]="objectEditForm" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <ha4us-media altImg="/assets/images/Sonos_Default_AlbumArt.png" alt="Wähle ein Bild" ha4usPick="image"
      formControlName="image" size="128" avatar [backgroundColor]="objectEditForm.value.backgroundColor"
      [color]="objectEditForm.value.color"></ha4us-media>
    <h1 fxFlex class="mat-h1" class="ellipsis">{{objectEditForm.value.topic}}</h1>
  </div>
  <div class="details" fxFlex fxLayout="column" fxLayoutGap="15px">
    <mat-form-field>
      <input matInput placeholder="Bezeichnung" formControlName="label">
    </mat-form-field>
    <us-tag-input formControlName="tags" [availableTags]="os.allTags$|async" placeholder="Tags..."></us-tag-input>
    <mat-form-field>
      <mat-select placeholder="Typ" formControlName="type">
        <mat-option *ngFor="let type of types" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div formGroupName="can" fxLayoutAlign="space-between">
      <mat-checkbox formControlName="read">Lesen</mat-checkbox>
      <mat-checkbox formControlName="write">Schreiben</mat-checkbox>
      <mat-checkbox formControlName="trigger">Statustrigger</mat-checkbox>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <mat-form-field fxFlex="50">
        <input matInput type="number" placeholder="Minimum" formControlName="min">
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <input matInput type="number" placeholder="Maximum" formControlName="max">
      </mat-form-field>
    </div>

    <mat-form-field fxFlex>
      <mat-label>Vordergrund</mat-label>
      <ha4us-color-picker [value]="objectEditForm.value.color" matPrefix formControlName="color" delete>
      </ha4us-color-picker>
      <input matInput [value]="objectEditForm.value.color" formControlName="color" />
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Hintergrund</mat-label>
      <ha4us-color-picker matPrefix [value]="objectEditForm.value.backgroundColor" formControlName="backgroundColor"
        delete> </ha4us-color-picker>
      <input matInput [value]="objectEditForm.value.backgroundColor" formControlName="backgroundColor" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Format" formControlName="template">
    </mat-form-field>
    <mat-checkbox formControlName="hidden">Ausgeblendet</mat-checkbox>
    <mat-form-field>
      <input matInput placeholder="Role" formControlName="role">
    </mat-form-field>
  </div>
</form>
